<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGAU | Processos</title>
    <link href="/processos.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar">
      <% if (user.tipo == 'Aluno' || user.tipo == 'Candidato' || user.tipo == 'DC' || user.tipo == 'AA' || user.tipo == 'PAA') { %>
          <label class="col_sel">Processos</label>
        <% } %>
        <% if (user.tipo == 'Aluno' || user.tipo == 'Regente') { %>
          <label class="col" onclick="location.href='http://localhost:3000/pautas';">Pautas Escolares</label>
        <% } %>
        <% if (user.tipo == 'DC') { %>
          <label class="col" onclick="location.href='http://localhost:3000/pautas';">Pautas de Colocados</label>
        <% } %>
        <% if (user.tipo == 'Candidato') { %>
            <label class="col">Candidatura</label>
        <% } %>
        <label class="col" onclick="location.href='http://localhost:3000/informacao';">Informação Pública</label>
        <label class="col_log" onclick="location.href='http://localhost:3000/login';">Logout</label
      >
    </div>

    <% if(user.tipo == 'Aluno' || user.tipo == 'Candidato') {%>
      <div>
        <table width="100%"> 
            <tbody>
              <tr height="33">
                <td width="9">
                  <div style="width: 9px; height: 35px;"></div>
                </td>
                <td class="tab_active_start" nowrap width="9">
                  <div style="width: 9px; height: 35px;"></div>
                </td>
                <td class="tab_active_bg" width="50%">
                  <div align="center">Lista de Processos</div>
                </td>
                <td class="tab_active_end" width="9">
                    <div style="width: 9px; height: 35px;"></div>
                </td>
                <td nowrap width="9">
                  <div style="width: 9px; height: 35px;"></div>
                </td>
                <td width="50%">
                  <div align="center">Submeter Novo Processo</div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

    <% if (processos) { %>
      <ul class="processos">
        <% processos.forEach(processo => { %>
          <li class="col">
            Processo: <%= processo.pedido %> / Estado: <%= processo.estado %>
          </li>
        <% }); %>
      </ul>
    <% } else {%>
      <h1>Não existem processos acadêmicos</h1>
    <% } %>

    <form action="/processos" method="POST">

      <div>
        <label>Curso: </label>
        <input
          type="text"
          id="curso"
          name="curso"
          value = "<%= user.curso %>"
          
          />
      </div>

      <div>
        <label>Número de aluno: </label>
        <input
          type="text"
          id="numAluno"
          name="numAluno"
          value = "<%= user.numeroAluno %>"
          
          />
      </div>

      <div>
        <label>Entidade: </label>
        <input
          type="text"
          id="name"
          name="entidade"
          value = "<%= user.name %>"
          
          />
      </div>

      <div>
        <label>Ano Lectivo: </label>
        <input
          type="text"
          id="anoLetivo"
          name="anoLetivo"
          value =""
          required
          />
      </div>

      <div>
        <label>Pedido: </label>
        <select name = "pedidos" id="pedidos" required>
          <option value = ""> </option>
          <option value="Alteração de Inscrição (por via de creditações)">Alteração de Inscrição (por via de creditações)</option>
          <option value="Anulação de Matrícula/Inscrição">Anulação de Matrícula/Inscrição</option>
          <option value="Anulação de Unidades Curriculares (Será recusado se existirem pautas lançadas)">Anulação de Unidades Curriculares (Será recusado se existirem pautas lançadas)</option>
          <option value="Carta de agregação (Diploma) (150.00 Eur)">Carta de agregação (Diploma) (150.00 Eur)</option>
          <option value="Certificado Aproveitamento  Escolar (10.00 Eur)">Certificado Aproveitamento  Escolar (10.00 Eur)</option>
        </select>
      </div>

      <div>
        <label>Assunto: </label>
        <input
          type="textarea"
          id="assunto"
          name="assunto"
          rows = 5
          value =""
          />
      </div>

      <div>
        <label>Anexar Documento: </label>
        <input
          type="file"
          id="ficheiro"
          name="ficheiro"
          value =""
          />
      </div>

      <input type="hidden" id="userId" name="userId" value ="<%= user._id %>">

      <div>
        <button type="submit">Submeter</button>
      </div>

    </form>
  <% } else {%>
    <div>
      <table width="100%"> 
          <tbody>
            <tr height="60">
              <td width="100%">
                <h1>Processos a Validar</h1>
              </td>
            </tr>
          </tbody>
      </table>
    </div>

    <% if (processos) { %>
      <ul class="processos">
        <% processos.forEach(processo => { %>
          <% if(user.tipo == "AA" && (processo.estado == "Submetido para validação" || processo.estado == "Retornado para revisão")) {%>
            <li class="col">
              Processo: <%= processo.pedido %> / Estado: <%= processo.estado %>
            </li>
          <% } %> 
          <% if(user.tipo == "DC" && processo.estado == "Submetido para validação do DC" && processo.curso == user.curso) {%>
            <li class="col">
              Processo DC: <%= processo.pedido %> / Estado: <%= processo.estado %> / Curso: <%= processo.curso %>
            </li>
          <% } %> 
          <% if(user.tipo == "PAA" && processo.estado == "Submetido para validação do PresidenteAA") {%>
            <li class="col">
              Processo PAA: <%= processo.pedido %> / Estado: <%= processo.estado %>
            </li>
          <% } %>
        <% }); %>
      </ul>
    <% } else {%>
      <h1>Não existem processos acadêmicos</h1>
    <% } %>

  <% } %>

</body>
</html>